@charset "utf-8";

/*기본스타일 정의*/

html,
body {
    margin: 0;
    padding: 0;
    min-width: 1080px;
    min-height: 100%;
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.clear_fix::after {
    content: "";
    display: block;
    clear: both;
}

.blind {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.header .menu_div {
    display: flex;
    align-items: center;
    position: relative;
}

.header .menu_btn {
    position: relative;
    overflow: hidden;
    width: 65px;
    height: 65px;
    -webkit-box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 6%), 0px 0px 1px 0px rgb(0 0 0 / 40%);
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 6%), 0px 0px 1px 0px rgb(0 0 0 / 40%);
    line-height: 200px !important;
    border-radius: 50%;
    cursor: pointer;
}

.header .menu_btn::after {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -18px 0 0 -18px;
    background-image: url(../image/menu.png);
    width: 36px;
    height: 36px;
    background-size: contain;
    content: "";
}

.header .menu_div .menu_category_list {
    position: absolute;
    left: -20px;
    top: 85px;
    min-width: 160px;
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 6%), 0px 0px 1px 0px rgb(0 0 0 / 40%);
    background: #f6f6f6;
    z-index: 1;
    padding: 5px 0 5px 0;
    display: none;
}

.header .menu_div .menu_category_list .menu_category {
    padding: 5px 10px 5px 10px;
}

.header .menu_div .menu_category_list .menu_category:nth-child(n+2) {
    margin-top: 10px;
}

.header .menu_div .menu_category_list .menu_category .menu_category_link:hover {
    color: #007bff;
    text-decoration: underline;
}

.header_box {
    margin: 0 auto;
    display: flex;
    height: 100px;
    max-width: 988px;
}

.header_box .logo_box {
    width: 10%;
    padding: 20px 30px 20px 15px;
}

.header_box .logo_box a {
    height: 100%;
}

.header_box .logo_box .logo_img {
    height: 100%;
    border-radius: 100%;
    animation: rotate_image 5s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.header_box .search_input_box {
    width: 60%;
    display: flex;
    align-items: center;
}

.header_box .search_input_box .search_form {
    position: relative;
    width: 80%;
    height: 40%;
}

.header_box .search_input_box .search_form .product_search_input {
    border-radius: 24px;
    border: 2px solid #067dfd;
    width: 100%;
    height: 100%;
    outline: none;
}

.header_box .search_input_box .search_form .product_search_button {
    position: absolute;
    right: 5px;
    top: 30%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.header_box .user_util_box {
    width: 30%;
}

.header_box .user_util_box ul {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_box .user_util_box ul li {
    height: 35%;
}

.user_util_box ul li:nth-child(-n+3) {
    margin-right: 30px;
}

.header_box .user_util_box ul li img {
    height: 100%;
}
