/*기본스타일 정의*/
@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
    min-width: 1080px;
    min-height: 100%;
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
}

.clear_fix::after {
    content: "";
    display: block;
    clear: both;
}

.blind {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

/* main_container */
.main_container {
    padding: 0 0 20px 0;
}

/* banner-carousel */
.banner-carousel-board {
    height: 400px;
    border: 1px solid #46464652;
    position: relative;
}

.banner-carousel-board .carousel-default-thumbnail {
    width: 100%;
    height: 100%;
    display: none;
}

.banner-carousel-board .banner-list {
    width: 100%;
    height: 100%;
    display: none;
}

.banner-carousel-board .banner-link {
    height: 100%;
    display: block;
}

.banner-carousel-board .banner-list .banner-image {
    width: 100%;
    height: 100%;
}

.banner-carousel-board .carousel-option-box {
    position: absolute;
    bottom: 10px;
    right: 100px;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.carousel-option-box .carousel-option {
    float: left;
    background: rgba(0, 0, 0, 0.2);
}

.carousel-option-box .carousel-option:nth-child(n+2) {
    margin-left: 15px;
}

.carousel-option-box .pause_option-box {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 23px;
    line-height: 300px;
    background-image: url(../image/pause.png);
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-option-box .middle-option-box {
    display: flex;
    width: 140px;
    height: 47px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.2);
}

.carousel-option-box .middle-option-box .count-option-box :nth-child(n+2) {
    margin-left: 3px;
}

.carousel-option-box .middle-option-box .count-option-box {
    float: left;
    width: 50%;
    height: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.carousel-option-box .middle-option-box .count-option-box .banner-count {
    font-size: 17px;
    color: #fff;
    font-family: "Lato", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
}

.carousel-option-box .middle-option-box .count-option-box .un-emp {
    opacity: 0.6;
}

.carousel-option-box .middle-option-box .more-option-box {
    cursor: pointer;
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../image/more_button.png);
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-option-box .move-option-box {
    display: flex;
    height: 45px;
    border-radius: 23px;
    background: rgba(0, 0, 0, 0.2);
}

.carousel-option-box .move-option-box .backward-box {
    float: left;
    width: 46px;
    height: 45px;
    overflow: hidden;
    line-height: 300px;
    background-image: url(../image/backward_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-option-box .move-option-box .forward-box {
    float: right;
    width: 46px;
    height: 45px;
    overflow: hidden;
    line-height: 300px;
    background-image: url(../image/forward_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* product-category */
.product_category_board {
    padding: 0 200px 0 200px;
}

.product_category_board .product_category_h_tag {
    text-align: center;
}

.product_category_board .product_category_list {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
    border: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product_category_board .product_category_list .product_category {
    padding: 10px 0 10px 0;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-inline: 0.001px solid rgb(0 0 0 / 6%);
}

.product_category_board .product_category_list .product_category:hover {
    font-weight: bold;
}

.product_category_board .product_category_list .product_category .product_category_span {
    font-family: "Spoqa-Regular", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Arial, sans-serif;
    letter-spacing: -0.3px;
    font-size: 15px;
    color: inherit;
    font-weight: inherit;
}

/* product_card */
.product_category_board .product_list {
    padding: 25px 0 0 0;
}

.product_category_board .product_list .default_image_div {
    text-align: center;
    display: none;
}

.product_category_board .product_list .default_image_div .message {
    font-size: 20px;
    text-decoration-line: underline;
}

.product_category_board .product_list .empty_image_div {
    text-align: center;
    display: none;
}

.product_category_board .product_list .empty_image_div .message {
    font-size: 20px;
    text-decoration-line: underline;
}

.product_category_board .product_list .product_board {
    float: left;
    width: 23%;
    height: 350px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 10px -2px rgb(0 0 0 / 6%), 0px 0px 1px 0px rgb(0 0 0 / 28%);
    box-shadow: 0px 2px 10px -2px rgb(0 0 0 / 6%), 0px 0px 1px 0px rgb(0 0 0 / 28%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product_category_board .product_list .product_board .product_board_div {
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.product_category_board .product_list .product_board .product_board_div .product_link {
    height: 100%;
    display: block;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_img_board {
    overflow: hidden;
    height: 60%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_img_board .product_img {
    width: 100%;
    height: 100%;
    margin: auto;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box {
    height: 40%;
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0 20px 20px;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_title_div {
    padding-bottom: 8px;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_title_div .seller_name {
    display: block;
    color: #222;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 1px;
    overflow: hidden;
    height: 18px;
    font-weight: normal;
    font-family: "Spoqa-Medium", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Arial, sans-serif;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_title_div .product_name {
    font-size: 12px;
    font-weight: normal;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    letter-spacing: -0.3px;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_price_div {
    padding-bottom: 5px;
    line-height: 16px;
    font-size: 11px;
    color: #222;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_price_div .product_discount_div {
    float: left;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_price_div .product_discount_div .product_discount {
    margin-right: 3px;
    color: #f43142;
    letter-spacing: 0;
    font-family: "Lato", "Helvetica Neue", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", "돋움", dotum, sans-serif;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_price_div .product_discounted_price_div {
    float: left;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_price_div .product_discounted_price_div .product_discounted_price {
    vertical-align: -1px;
    font-size: 14px;
    font-family: 'Tahoma';
    font-weight: bold;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_price_div .product_not_discounted_price_div {
    float: left;
    padding-left: 5px;
}

.product_category_board .product_list .product_board .product_board_div .product_link .product_detail_info_box .product_price_div .product_not_discounted_price_div .product_not_discounted_price {
    color: #777;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-decoration: line-through;
    vertical-align: middle;
}

