<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/adminLayout}">

<div layout:fragment="content">
    <div class="middle_background">
        <nav class="menu clear_fix">
            <a href="#product_form" class="btn_group">
                상품 등록
            </a>

            <a href="#seller_form" class="btn_group middle_btn">
                판매자 등록
            </a>

            <a href="#coupon_form" class="btn_group middle_btn">
                쿠폰 등록
            </a>

            <a href="" class="btn_group">
                택배사 등록
            </a>
        </nav>

        <div class="main">
            <div class="phrase">
                <h3>등록 양식</h3>
            </div>

            <!-- 상품 폼  -->
            <div class="content_container">
                <div class="content_title">
                    <h3>상품 등록</h3>
                </div>

                <div class="div_contents" id="product_form">
                    <form action="/register/product" method="POST" class="register_form"
                          name="product_form" enctype="multipart/form-data"
                          th:object="${product}">
                        <label for="product_name">상품명</label>
                        <p id="name_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="text" id="product_name" name="product_name" maxlength="128"
                               class="input_form" placeholder="상품명을 입력해주세요. (최대 128글자, 전체 상품명 공백 및 스페이스바 입력불가)"
                               th:field="*{name}">

                        <label for="product_category">상품 카테고리</label>
                        <select class="select_form" id="product_category" name="product_category">
                            <!-- 쿠폰 추후 추가 예정 -->
                            <option value="0">카테고리 없음</option>
                        </select>

                        <label for="product_price">상품 가격</label>
                        <p id="price_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="number" id="product_price" class="input_form"
                               placeholder="상품가격을 입력해주세요. (원 생략, 최소 0원 ~ 최대 999,999,999,999원 범위)"
                               name="product_price" th:field="*{price}">

                        <label for="product_description">상품 설명 </label>
                        <p id="description_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <textarea id="product_description" class="description_form" maxlength="65545"
                                  placeholder="상품 설명은 최대 65545 글자 까지 입력 가능합니다."
                                  name="product_description" th:field="*{description}"></textarea>

                        <label for="product_image">상품 이미지 </label>
                        <div class="product_image_container">
                            <input type="file" id="product_image" name="product_image"
                                   class="file_form"
                                   accept="image/jpeg, image/jpg, image/png, image/gif, image/bmp, image/pdf">
                            <img class="thumbnail_img" src="../image/default_thumbnail.gif" title="상품이미지">
                            <span class="reset_img_btn" title="이미지 초기화 버튼">
                            <span class="blind">이미지 초기화</span>
                        </span>
                        </div>

                        <label for="product_tag">상품 태그,강조</label>
                        <p id="tag_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="text" id="product_tag" name="product_tag" maxlength="50"
                               class="input_form" placeholder="강조,태그할 내용을 입력해주세요. (최대 50글자)"
                               th:field="*{tag}">

                        <label for="shipping_fee">기본 배송비</label>
                        <p id="shipping_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <select class="select_form" id="shipping_fee" name="shipping_fee">
                            <option value="0">배송비없음</option>
                            <option>1000</option>
                            <option>2000</option>
                            <option>3000</option>
                            <option>4000</option>
                            <option>5000</option>
                            <option>6000</option>
                            <option>7000</option>
                            <option>8000</option>
                            <option>9000</option>
                            <option>10000</option>
                        </select>

                        <label for="product_discount">할인율(%)</label>
                        <p id="discount_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="number" id="product_discount"
                               class="input_form" placeholder="상품 할인율(%)을 입력해주세요. (% 생략, 최소 0% ~ 최대 100% 범위)"
                               name="product_discount" th:field="*{discount}">

                        <label for="product_seller">판매자 추가</label>
                        <select class="select_form" id="product_seller" name="product_seller">
                            <option>추가 안함</option>
                        </select>

                        <label for="product_delivery">택배사 추가</label>
                        <select class="select_form" id="product_delivery" name="product_delivery">
                            <!-- 쿠폰 추후 추가 예정 -->
                            <option>추가 안함</option>
                        </select>

                        <button class="register_btn" id="product_register_btn" type="button">등록하기</button>
                    </form>
                </div>
            </div>

            <!-- 카테고리 폼  -->
            <div class="content_container">
                <div class="content_title">
                    <h3>카테고리 등록</h3>
                </div>

                <div class="div_contents" id="category_form">
                    <form action="/register/category" method="POST"
                          class="register_form" name="category_form" th:object="${category}">

                        <label for="category_name">카테고리명</label>
                        <p id="category_name_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="text" id="category_name" name="category_name" maxlength="50"
                               class="input_form" placeholder="카테고리명을 입력해주세요. (최대 50글자, 전체 카테고리명 공백 및 스페이스바 입력불가)"
                               th:field="*{name}">
                        <button class="register_btn" id="category_register_btn" type="button">등록하기</button>
                    </form>
                </div>
            </div>

            <!-- 판매자 폼  -->
            <div class="content_container">
                <div class="content_title">
                    <h3>판매자 등록</h3>
                </div>

                <div class="div_contents" id="seller_form">
                    <form action="/register/seller" method="POST"
                          class="register_form" name="seller_form" th:object="${seller}">

                        <label for="seller_name">판매자명</label>
                        <p id="uname_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="text" id="seller_name" name="seller_name" maxlength="128"
                               class="input_form" placeholder="판매자명을 입력해주세요. (최대 128글자, 전체 상품명 공백 및 스페이스바 입력불가)"
                               th:field="*{uName}">

                        <label for="company_name">회사명</label>
                        <p id="cname_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="text" id="company_name" name="company_name" maxlength="128"
                               class="input_form" placeholder="회사명을 입력해주세요. (최대 128글자, 전체 상품명 공백 및 스페이스바 입력불가)"
                               th:field="*{cName}">

                        <label for="business_type">사업자 구분</label>
                        <p id="business_type_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <select class="select_form" id="business_type" name="business_type">
                            <option>사업자구분 없음</option>
                            <option>일반사업자</option>
                            <option>과세사업자</option>
                            <option>면세사업자</option>
                            <option>일반과세자</option>
                            <option>간이과세자</option>
                            <option>법인사업자</option>
                        </select>

                        <label for="seller_address">주소 입력</label>
                        <p id="address_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="text" id="seller_address" class="input_form" maxlength="128"
                               placeholder="주소를 입력해주세요. (최대 128글자, 전체 상품명 공백 및 스페이스바 입력불가)"
                               name="seller_address" th:field="*{address}">

                        <label for="seller_email">이메일 입력</label>
                        <p id="email_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="email" id="seller_email" class="input_form" maxlength="128"
                               placeholder="이메일을 입력해주세요. (최대 128글자, 전체 상품명 공백 및 스페이스바 입력불가)"
                               name="seller_email" th:field="*{email}">


                        <label for="seller_homepage">URL 입력</label>
                        <p id="seller_homepage_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="email" id="seller_homepage" class="input_form" maxlength="128"
                               placeholder="홈페이지 URL을 입력해주세요. (최대 128글자만 입력 가능합니다.)"
                               name="seller_homepage" th:field="*{homepage}">

                        <label for="seller_call">휴대전화 연락처 입력</label>
                        <p id="seller_call_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="text" id="seller_call" class="input_form"
                               placeholder="휴대전화 연락처를 입력해주세요. (-포함, 최대 20글자만 입력 가능합니다.)"
                               name="seller_call" th:field="*{callNumber}">

                        <label for="seller_business_number">사업자 등록번호 입력</label>
                        <p id="seller_business_number_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="number" id="seller_business_number" class="input_form"
                               placeholder="사업자 등록번호를 입력해주세요. (최대 10글자만 입력 가능합니다.)"
                               name="seller_business_number" th:field="*{businessNumber}">

                        <button class="register_btn" id="seller_register_btn" type="button">등록하기</button>
                    </form>
                </div>
            </div>

            <!-- 쿠폰 등록 폼  -->
            <div class="content_container">
                <div class="content_title">
                    <h3>쿠폰 등록</h3>
                </div>

                <div class="div_contents" id="coupon_form">
                    <form action="/register/coupon" method="POST"
                          class="register_form" name="coupon_form" th:object="${coupon}">
                        <label for="coupon_name">쿠폰명</label>
                        <p id="coupon_name_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="text" id="coupon_name" name="coupon_name" maxlength="128"
                               class="input_form" placeholder="쿠폰명을 입력해주세요. (최대 128글자, 전체 상품명 공백 및 스페이스바 입력불가)"
                               th:field="*{name}">


                        <label for="coupon_category">쿠폰 적용 카테고리</label>
                        <select class="select_form" id="coupon_category" name="product_category">
                            <!-- 쿠폰 추후 추가 예정 -->
                            <option>카테고리 없음</option>
                        </select>


                        <label for="coupon_description">쿠폰 설명 </label>
                        <p id="coupon_description_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <textarea id="coupon_description" class="description_form" maxlength="256"
                                  placeholder="쿠폰 설명은 최대 256 글자 까지 입력 가능합니다."
                                  name="coupon_description" th:field="*{description}"></textarea>


                        <label for="coupon_price_limit">쿠폰 할인 제한 가격</label>
                        <p id="coupon_price_limit_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="number" id="coupon_price_limit" class="input_form"
                               placeholder="쿠폰 할인 제한 가격을 입력해주세요. (원 생략, 최소 0원 ~ 최대 999,999,999,999원 범위)"
                               name="coupon_price_limit" th:field="*{priceLimit}">


                        <label for="coupon_max_discount_price">쿠폰 최대 할인 가격</label>
                        <p id="coupon_max_discount_price_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="number" id="coupon_max_discount_price" class="input_form"
                               placeholder="쿠폰 최대 할인 가격을 입력해주세요. (원 생략, 최소 0원 ~ 최대 2,147,483,647원 범위)"
                               name="coupon_max_discount_price" th:field="*{maxDiscountPrice}">


                        <label for="coupon_discount_percent">쿠폰 할인률</label>
                        <p id="coupon_discount_percent_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="number" id="coupon_discount_percent" class="input_form"
                               placeholder="쿠폰 최대 할인 가격을 입력해주세요. (% 생략, 0 ~ 100 범위 값)"
                               name="coupon_discount_percent" th:field="*{discountPercent}">


                        <label for="coupon_expiration_date">쿠폰 만기일</label>
                        <p id="coupon_expiration_date_validation" class="validation_error">
                            <span class="blind">유효성 에러 문구</span>
                        </p>
                        <input type="date" id="coupon_expiration_date" class="input_form"
                               placeholder="쿠폰 만기일을 지정해주세요."
                               name="coupon_expiration_date" th:field="*{expirationDate}">

                        <button class="register_btn" id="coupon_register_btn" type="button">등록하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>