/*
main 영역(Menu,Contents..)
*/
.middle_background {
    width: 1080px;
    margin: 0 auto;
    padding: 40px 0 40px;
}

.menu {
    width: 1000px;
    margin: 0 auto;
}

.menu .btn_group {
    float: left;
    border: 1px solid #d1d1d1;
    width: 322px;
    height: 31px;
    text-align: center;
    font-size: 16px;
    line-height: 33px;
    margin-bottom: 10px;
}

.menu .middle_btn {
    margin-left: 14px;
}

.menu .btn_group:hover {
    border-color: #454545;
    font-weight: bold;
}

.main {
    width: 1000px;
    margin: 50px auto 0;
}

.main .phrase {
    font-size: 20px;
    border-bottom: 1px solid #dee2e6;
}

.content_container {
    margin-top: 30px;
    border: 1px solid #d1d1d1;
}

.content_title {
    height: 45px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d1d1d1;
}

.content_title h3 {
    margin: 0 0 0 15px;
    line-height: 45px;
    font-size: 16px;
    color: #333;
}

.div_contents {
    margin: 20px;
}

.div_contents h4 {
    font-size: 14px;
}

/*폼요소 스타일정의*/
.register_form {
    border: 1px solid #e4e4e4;
    background-color: #fbfbfb;
    padding: 15px;
}

.image_form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.register_form label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.register_form .input_form {
    width: 100%;
    height: 30px;
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    font-size: 12px;
}

.register_form .file_form {
    margin-bottom: 15px;
    font-size: 12px;
}

.register_form .banner_image_container {
    border: 1px solid #d1d1d1;
    padding: 10px;
    margin-bottom: 15px;
    width: 50%;
    position: relative;
}

.thumbnail_img {
    width: 100%;
    height: 100%;
}

.reset_img_btn {
    position: absolute;
    top: 15px;
    right: 3px;
    width: 20px;
    height: 20px;
    content: "";
    cursor: pointer;
    background-image: url(../image/reset_image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.register_form .select_form {
    width: 298px;
    height: 30px;
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    font-size: 12px;
}

.register_form .description_form {
    width: 100%;
    height: 100px;
    border: 1px solid #e4e4e4;
    font-size: 12px;
    margin-bottom: 15px;
}

.register_btn {
    width: 100%;
    height: 40px;
    border: 1px solid #08a600;
    background-color: #4ec53d;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.register_form .image_container {
    border: 1px solid #d1d1d1;
    padding: 10px;
    margin-bottom: 15px;
    width: 50%;
    position: relative;
}

.register_form .image_container .thumbnail_image_ul {
    border: 1px solid #4fc3a2;
    padding: 5px 10px 10px 5px;
    min-height: 50px;
}

.thumbnail_image_ul .thumbnail_img_box {
    width: 100px;
    height: 100px;
    float: left;
}

.thumbnail_image_ul .thumbnail_img_box .thumbnail_img {
    width: 100%;
    height: 100%;
    border: 2px solid #efefef;
}


